@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200&display=swap');

.header {
    padding: 1rem;
    background-color: transparent;    
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    position: relative;
}
.menu-superior {
  text-align: end;
  font-size: 12px;
  padding:  0 1rem;
  font-weight: bold;
}
.menu-superior img{
  width: 25px;
}
.nav-link, .dropdown-item{
    color: #fff;
}
.dropdown-menu{
  background-color: #233d8a;
}

.dropdown-item:hover {
  background-color: transparent;
}
.nav-item:active {
  color: rgba(250,216,6,.98);
}
.nav-link:hover,.dropdown-item:hover{
    color: rgba(250,216,6,.98);
}
.nav-link{
  text-transform: uppercase;
  font-weight: bold;
}
body{
  color: #000;
}
li{
  margin-bottom: 1rem;
}
.defauld{
    color: #001970;
    font-weight: 700;
  }
i .fas, .fa-bars{
    color: #fff;
}
.logo-brand{
    max-width: 300px;
}
.navbar-expand-lg{
  margin-top: -40px !important;
}

.form-control{
    border-radius: 20px;
    border: 2px solid #0019709e !important;
  }
  .caja{
    border-right: 1px solid rgb(255 255 255 / 13%)!important;
    border-right-color: #C4C4C4!important;
    padding-top: 30px;
    padding-right: 28px;
  }
  .caja-lateral{
    border: none;
    padding-top: 25px !important;
  }
  .btn{
      margin-bottom: 10px;
  }
  .btn-pucmm{
    color: #fff;
      background-color: #021967;
      border-color: #021967;
      border-radius: 1.25rem;  
      font-weight: bold;
      margin-right: 15px;
  }
  .btn-pucmm-warning{
    color: #000;
    background-color: rgba(250,216,6,.98);
    border-color: rgba(250,216,6,.98);
    border-radius: 1.25rem;
    font-weight: bold;
  }
  .container-pucmm{
    padding-top: 15px;
    padding-bottom: 35px;
  }

.img-aviso{
  padding: 20px 0px;
}
.intrucciones, .enlace{
  margin-bottom: 0px !important;
}

  .footer-wrapper{
    background-color: #e9ecef;
  }
  .padding-cajas {
    padding: 40px 16px!important;
  }
  .col-footer {
    margin-bottom: 0px;
  }
  .title-footer {
      font-style: normal;
      font-weight: 800;
      font-size: 13px;
      line-height: 27px;
      letter-spacing: 2px;
      color: #4f4f4f;
      text-transform: uppercase;
  }
  .footer-detail {
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 28px;
      color: #4f4f4f;
      padding-bottom: 12px;
  }
  .icon-fa, .link-pucmm {
      color: #001970;
  }
  .footer-detail a {
      margin-right: 15px;
  }
  .footer-detail i {
      font-size: 20px;
  }
  .copyright {
      background-color: #001970;
  }